### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio 2015/2017 cache/options directory
.vs/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp
*.zip

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/

### sample_result_submission ###
sample_result_submission/*
*.pickle
*.predict
README.ipynb
Survey_Paper_Challenge_2023_AI_Author.ipynb
Survey_Paper_Challenge_2023_AI_Reviewer.ipynb